[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "manifest"]
	path = manifest
	url = https://github.com/LaCumbiaDelCoronavirus/Manifest-SM
